@model BookingWizard.ModelsVM.HotelVM

<form id="addHotelForm" method="post" enctype="multipart/form-data">
	
	<div id="main">
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelName" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">@Localizer["HotelName"]</span>
		</div>
		<span asp-validation-for="HotelName"></span>
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelShortDescription" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">@Localizer["ShortDesc"]</span>
		</div>
		<span asp-validation-for="HotelShortDescription"></span>
		<div class="input-group mb-3">
			<input type="text" class="form-control" asp-for="HotelLongDescription" aria-describedby="basic-addon2">
			<span class="input-group-text" id="basic-addon2">@Localizer["LongDesc"]</span>
		</div>
		<span asp-validation-for="HotelLongDescription"></span>
		<div class="custom-file">
			<input asp-for="ImageModelList" class="custom-file-input form-control" multiple />
			<label class="custom-file-label text-left">@Localizer["AddPhoto"]</label>
		</div>
		<div class="input-group  mt-3">
			<input type="text" id="autocomplete" class="form-control" asp-for="@Model.Address.AddressName" aria-describedby="basic-addon2">
			<input type="hidden" id="Lat" asp-for="@Model.Address.Lat" name="Lat"/>
			<input type="hidden" id="Lng" asp-for="@Model.Address.Lng" name="Lng"/>
			<span class="input-group-text" id="basic-addon2">@Localizer["Address"]</span>
		</div>
		<span asp-validation-for="Address.AddressName"></span>
		
	</div>

	<button type="submit">Add</button>
</form>

