@model IEnumerable<BookingWizard.ModelsVM.HotelVM>

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="@Url.Action("Add","Hotels")">Add</a>
            </div>
        </div>
    </div>
}

<div class="container">
    <form method="post" asp-action="Hotels" asp-controller="Hotels">
        <div class="input-group mb-3">
           <input type="text" id="autocomplete"  placeholder="Куда вы хотите поехать?" class="form-control" name="Address" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
        <input type="hidden" id="Lat" name="Lat" />
        <input type="hidden" id="Lng" name="Lng" />
    </form>

    <div class="row">
        @foreach (var hotel in Model)
        {
            
            <div class="col-md-4">
                <div class="card mb-3">
                    <a href="@Url.Action("Hotel","Hotels", new {id = hotel.Id})">
                  <img style="height: 300px;" src=" @Url.Action("GetPhoto", "PhotoHotels", new { id = hotel.Image.Id })" alt="Hotel Image" class="card-img-top imageTumbnail">
                    </a>
                    <div class="card-body">
                        <h5 style="max-height: 80px;" class="card-title">@hotel.HotelName</h5>
                        <p style="height: auto; max-height: 100px"class="card-text">@hotel.HotelShortDescription</p>
                        <p style="height: auto; max-height: 100px"class="card-text">@hotel.Address.AddressName</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit","Hotels", new {id = hotel.Id})" class="btn btn-primary">Edit</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
