@model List<BookingWizard.ModelsVM.HotelVM>

<head>
    <a class="alert alert-primary" href="@Url.Action("Add","Hotels")">Add</a>
</head>

<div class="row">
    @foreach(var hotel in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <a href="@Url.Action("Hotel","Hotels", new {id = hotel.Id})">
                    <img src="@hotel.imageUrl" alt="Hotel Image" class="img-fluid">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@hotel.HotelName</h5>
                    <p class="card-text">@hotel.HotelShortDescription</p>
                   <a  href="@Url.Action("Edit","Hotels", new {id = hotel.Id})">Edit</a>
                 
                </div>
                      
            </div>
           
        </div>
       
    }

    
</div>