@model IEnumerable<BookingWizard.ModelsVM.BookingVM>

<h1>@Localizer["List"]</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Id"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["ArrivalDate"]</th>
                <th>@Localizer["DateOfDeparture"]</th>
                <th>@Localizer["Room"]</th>
                <th>@Localizer["Hotel"]</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Id</td>
                    <td>@booking.FirstNameBuyer</td>
                    <td>@booking.LastNameBuyer</td>
                    <td>@booking.Email</td>
                    <td>@booking.ArrivalDate.ToString("dd.MM.yyyy")</td>
                    <td>@booking.DateOfDeparture.ToString("dd.MM.yyyy")</td>
                    <td>@booking.RoomName</td>
                    <td>@booking.HotelName</td>
                    <td>
                    <form method="post" action="/Booking/Delete">
                        <input type="hidden" value="@booking.Id"  name="id"/>
                        <div class="mb-3">
                            <button class="btn btn-danger" type="submit" id="deleteButton">@Localizer["DeleteBook"]</button>
                        </div>
                    </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@Localizer["NoOrders"]</p>
}
